body{
    margin:auto;
    background:rgb(159, 159, 189);
}

a{
    text-decoration:none
}
/* head-section */
header{
    height:60px;
    /*border:5px solid hotpink;*/
    background-color: #3b2632;
}
#brand{
    float: left;
    color:white;
    font-size: 30px;
    margin-top:1%;
    margin-left:1%
}
#social{
    float: right;
}
.socialLogo{
    height:50px
}

/* search-section */
#search{
    height:450px;
    /* border:10px groove green;*/
    background-image: url("Images/food-wallpaper.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 450px;
}
.logo{
    height:150px;
    width: 150px;
    background-color: white;
    border-radius:50%;
    margin-left: 46%;
    margin-top: 2%; 
    position: absolute;
    font-size:90px;
    animation: revolve 12s infinite; 
}
.logo > span{
    margin-left: 20%;
    margin-top: 15%;
    position: absolute;
}

@keyframes revolve{
    0%{
        margin-left: 2%;
        transform: rotate(30deg);
    }
    25%{
        margin-left:20%;
        transform: rotate(90deg);
    }
    50%{
        margin-left:40%;
        transform: rotate(180deg);
    }
    75%{
        margin-left:80%;
        transform: rotate(270deg);
    }
    100%{
        margin-left:40%;
        transform: rotate(360deg);
    }
}


#heading{
    font-size:60px;
    color:white;
    margin-left: 33%;
    margin-top: 15%;
    position: absolute;
}

.dropdown{
    height:60px;
    width:50%;
    /* border:2px solid white; */
    margin-left: 30%;
    margin-top: 22%;
    position: absolute;
}
select{
    height:60px;
    width:40%;
    font-size:20px;
    text-align: center;
}
#restSelect{
    width:59%;
} 


/* quick-search */
#quicksearch{
    /* height: 600px;
    border: 10px solid red; */
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.quickHeading{
    color:#3b2632;
    font-size:30px;
    font-weight:bold;
    display: block; 
    margin-left: 2%;
}
.quickSubHeading{
    font-size:20px;
    color:rgb(10, 27, 180);
    line-height: 2;
    margin-left: 2%;
}
#SearchPage{
    margin-left: 10%;
    color:white;
    border: 10px groove grey;
    background-color: cadetblue;
    font-size: 18px;
}

#tileBox{
    display:flex;
    flex-wrap: wrap;
}
.tileContainer{
    height:180px;
    width:30%;
    margin-left: 2%;
    margin-top: 3%;
    display: flex;
    box-shadow: 10px 20px 10px #3b2632; 
    animation: anima 5s infinite;
}

@keyframes anima{
    0%{
        transform:rotate(-3deg)
    }
    25%{
        transform:rotate(0deg)
    }
    40%{
        transform: scale(1.1);
    }
    50%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-3deg);
    }
}

/* .tileContainer:hover{
    transform: scale(1.1)
} */

.tileComponent1{
    width:52%;
}
.tileComponent1 > img{
    width: 100%;
    height: 100%;  
}
.tileComponent2{
    width:45%;
    margin-left: 3%;
    margin-top: 15%;
}
.compHeading{
    font-size: 25px;
    font-weight: bold;
}
.compHeading > a{
    color:#3b2632 !important;
}
.compSubHeading{
    font-size: 20px;
    color:rgb(133, 62, 62)
}


/* footer-section */
footer{
    /* border:10px double orange */
    background-color: #3b2632;
    text-align: center;
    color: white
}
.footText{
    font-size: 20px;
}

.footDiv{
    display: inline-block;
    width: 32%;
    border-right: 2px solid white;
}

ul{
    list-style-type: none;
}

.noborder{
    border:none
}


/* media-query's */

@media screen and (max-width:1600px){
    body{
        background-color: rgb(218, 129, 129);
    }
} 

@media screen and (max-width:1400px){
    body{
        background-color: rgb(218, 209, 129);
    }
} 

@media screen and (max-width:1200px){
    body{
        background-color: rgb(172, 218, 129);
    }
    .tileContainer{
        width: 45%;
    }
} 


@media screen and (max-width:1100px){
    body{
        background-color: rgb(129, 142, 218);
    }
} 

@media screen and (max-width:1000px){
    body{
        background-color: rgb(129, 150, 218);
    }
} 

@media screen and (max-width:800px){
    body{
        background-color: rgb(208, 129, 218);
    }

    .logo{
        background-color: rgb(190, 169, 169);
        width: 100px;
        height: 100px;
    }
    #search .logo span{
        color: rgb(216, 4, 4);
        font-size: 49px;
        padding-left: 7px;
        padding-top: 7px;
        
    }
    #search #heading{
        width: 80%;
        margin-left: 10%;
        text-align: center;
        font-size: 42px;
        font-family: arial;
    }

    .dropdown select{
        margin-top: 10px;
        color: blue;
        width: 70%;
        font-size: 19px;
        height: 45px;
    }
    .dropdown #restSelect{
        width: 70%;
        font-size: 13px;
        font-weight: bolder;
    }


    .tileContainer{
        width: 85%;
    }
    .quickHeading{
        text-align: center;
    }
    .quickSubHeading{
        color: rgb(41, 5, 248);
        font-size: large;
        font-size: 22px;
        display: block;
    }
    #SearchPage{
        margin-left: 50%;
    }

} 

@media screen and (max-width:1080px){
    body{
        background-color: rgb(218, 129, 129);
    }
} 

<<<<<<< HEAD
=======
    .tileContainer{
        width:43%;
    }
}
>>>>>>> 7167879dc92dfed19f04367fd714a0a8eafd9944
