body{
    margin: 0px;
    /* margin:auto; */
    background:rgb(159, 159, 189)
}

a{
    text-decoration:none
}
/* head-section */
/* header{
    height:60px;
    border:5px solid hotpink;
    background-color: #3b2632;
} */
.navbar{
    background-color: grey;
    position: fixed;
}

#nav-items{
    text-align: center;
}
#nav-items:hover{
    color: darkgrey;
    border: 1px solid rgb(59, 83, 59);
    transition: .4s ease;
    font-size:19px;
}
#brand{
    float: left;
    padding-bottom: 60px;
    margin-left:1%;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    width: 60px;
    height: 50px;
}
#titlelogo{
    color:white;
    font-size: 38px;
    margin-top: 0px;
    margin-left: 15px;
}

/* Listing-details */

#leftsidebar{
    float: left; 
    width: 20%;
    border: 10px groove grey;
    background-color: rgb(136, 130, 130);
    margin-left: 5%;
    margin-top:2%;   
}

.heading1{
    text-align: center;
    font-size: 26px;
    padding-top: 1%;
}
.heading2{
    text-align: center;
    font-size: 26px;
    padding-top: 10px;
}
.filter{
    margin-left: 15px;
    margin-top: 5%;
    line-height: 25px;
    font-size: 18px;
}

#rightsidebar{
    float: left; 
    margin-left:3%;
    width: 60%;
    margin-top:0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}
.container1{
    margin: 2%;
    width: 94%;
    background-color: rgb(136, 130, 130);
    border: 15px solid darkgrey;
    border-radius:20px;
    position: relative;
    height: 250px;
}
#cont1-img{
    display: flex;   /*note check once*/
    float: left;
    border-radius: 20px;
    width:40%;      /*note check once*/
    height: 190px;
    position: absolute;
    padding-top: 3.5%;
    padding-left: 10px;
    
}
.text{
    position: absolute;
    width: 55%;
    float: right;
    line-height: 10px;
    margin-left:45% ;
    margin-top:3%;
    line-height: 19px;
}
#textmainheading{
    font-size: 26px;
    color: green;
    text-align: center;
    margin-right: 30%;
    font-weight: bolder;
}
.subheader{
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    padding-top:1%; 
}
.buttons{
    position: absolute;
    display: flex; 
    flex-wrap: wrap;
    /* background-color: #3b2632; */
    width: 55%;
    /* display: inline-block; */
    /* height: 50px; */
    
}
.button1{
    display: flex; 
    height:29px;
}
#b-1{
    background-color: red;
    color: white;
    font-size: 15px;
    border: none; 
    border-radius: 6px;   
}
#b-2{
    margin-left: 25px;
    background-color: blue;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 6px; 
}
.button2{
    display: flex; 
    margin-top: 5%;
    height:29px;
}
#b-3{
    background-color: green;
    color: white;
    width: 100px;
    font-size: 15px;
    border: none;
    border-radius: 6px; 
}
#b-4{
    margin-left: 25px;
    background-color: rgb(156, 156, 39);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 6px; 
}

.container2{
    margin-left: 2%;
    width: 94%;
    background-color: rgb(136, 130, 130);
    border: 15px solid darkgrey;
    border-radius:20px;
    position: relative;
    height: 250px;
}


@media screen and (max-width:1000px){
    /* *{
        background-color: rgb(136, 130, 130);
    } */
/* media querys for rightsidebar */    
    #rightsidebar{
        width: 70%;
        margin-left: 1%;
    }
    .container1{
        height: 343px ;
        background-color: rgb(136, 130, 130);
    }
    #cont1-img{
        width: 90%;
        margin: 1%;
        height: 150px;
    }
    .text{
        margin-top: 155px;
        margin-left: 0px;
        width: 95%;
        text-align: center;
        line-height: 19px;
    }
    #textmainheading{
        padding-left: 10%;
        width: 80%;
        font-size: 21px;
    }
    .subheader{
        font-size: 15px;
        font-weight:lighter;
    }
    .buttons{
        margin-left: 10%;
    }
    .container2{
        height:340px;
        background-color: rgb(136, 130, 130);
    }
/* media querie's for leftsidebar */
    #leftsidebar{
        width: 28%;
        margin-left: 1%;
        margin-top: 15%;
        border-radius: 14px;
        background-color: rgb(136, 130, 130);
        border: none;
        border: 10px groove grey;
    }

    .filter{
        font-size: 12px;
        font-weight: bolder;  
    }
    .heading1{
        font-size: 20px;
        font-weight: bolder;
        margin-top: 5%;
    }
    .heading2{
        font-size: 20px;
        font-weight: bolder;
        margin-top: 5%;
    }


    .navbar{
        background-color: rgb(100, 75, 75);

    }
